@import "./default.css";

* {
    scroll-behavior: smooth;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    title{
      font-family: 'Rakkas', cursive;
    }

    html {
      font-family: 
      'Noto Sans Arabic',
      'Tajawal',
      'Almarai',
       sans-serif;

      font-size:100%;
      direction: rtl;
    }

    body {
      background: #fff;
    }

    .container1{
      width: 100%;
      display: flex;
    }

    .container1-2{
      width: 30%;
      margin: 20px;
      background-color: rgb(248, 249, 250);
      text-align: center;
      vertical-align: middle;
      justify-content: center;
        }

    .container1-2 p {
      position: relative;
      height: auto;
      top: 40%;
    }

    /* This section isn't appearing for now */
    #services{
      padding: 10px 0;
    }

    /* Heading section and search area */
    header {
      margin: auto;
      background-color: #8155BA;
    }

    header h1{
      font-family: 'Almarai', sans-serif;
      opacity: 0.95;


    }
    header div p {
      font-size: 1.3rem !important;
      padding-top: 5px;
      padding-right: 2%;
      opacity: 0.7;
    }

    .handp {
      display: flex;
      justify-content: center;
    }
    .googleBox{
      margin: auto;
      width: 50%;
      padding: 1px;
      margin-top: 5px;
      background-color: #fff;
      border-radius: 4px;
      opacity: 0.9;
    }
    .gsc-control-cse {
      padding: 0;
  }

    /* About section */
    #about{
      margin: auto;
      margin-top: 20px;
    }



     /* Navigation section and navBAR */
     nav{
      background-color: #8155BA ;
    }
    
    .navbar-brand{
      font-size: 2.2rem;
      font-family: 'Rakkas', cursive;
    }

    .nav-link{
      font-family: 'Almarai', sans-serif;
      text-align: start;
      color: #fff;
      margin-left: 1%;
      display: block;
      border-radius: 10px;
    }

    .navItems{
      display: flex;
      white-space: nowrap;
    }

    /* Contact section and ICONS */
    #contact{
      margin: auto;
      padding: 100px 0;
      margin-bottom: 20px;      
    }

    .contactIcons{
      text-align: center;
      padding-top: 50px;
    }

    i{
      font-size: 1.5rem;
      padding-left: 4px;
    }

    .iconsSlash{
      font-size: 1.5rem;
      padding-left: 10px;
    }

    .iconsUsername{
      display: inline-flex;
      color: #8155BA;
      font-weight: 500;
      font-size: 1.7rem;
      padding-left: 10px;
      text-align: center;
      animation:brath 10s  linear infinite;
    }

    @keyframes brath{
      0%{transform: scale(.8);}
      25%{transform: scale(1);}
      60%{transform: scale(.8);}
      100%{transform: scale(1);}
    }

    /* Footer, Copyright and year */
    footer{
      background-color: #8155BA ;
    }    

    


    @media (max-width: 900px) {
      .handp {
        display: flex;
        flex-direction: column;
      }
  }