@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Montserrat&family=Noto+Sans+Arabic&family=Rakkas&family=Tajawal&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-size:100%;
  font-family:
  'Noto Sans Arabic',
  'Tajawal',
  'Almarai',
  'Open Sans',
   sans-serif;

}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: white;
  
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.App {
  width: 100%;
  /* max-width: 800px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid #333; */
  box-shadow: 0px 0px 15px gray;
  direction: rtl;
}
/* Header */
.Header, .Footer {
  height: 8%;
  color: white;
  width: 100%;
  background-color:#8f3ff7;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-family: 'Rakkas', cursive;
  font-size: 1.5rem;
  transform: scale(1);
}

.Header svg {
  font-size: 2rem;
}

.Header ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

}

.Header li {
  padding: 1rem;
  font-family: 'Almarai', sans-serif;

}

.Header li:hover, 
.Header li:focus {
  padding: 0.9rem;
}

.Header li a {
  color: #fff;
  text-decoration: none;
  
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

.Header li:hover, 
.Header li:focus, 
.Header li:hover a, 
.Header li:focus a  {

font-size: 25px;
font-weight: 900;
}

.Header li:hover a, 
.Header li:focus a {
  cursor: pointer;
}

.contactIcons{
  text-align: center;
  padding-top: 50px;
}

i{
  font-size: 1.5rem;
  padding-left: 4px;
}

.iconsSlash{
  font-size: 1.5rem;
  padding-left: 10px;
}

.iconsUsername{
  font-family: sans-serif;
  display: inline-flex;
  color: #8155BA;
  font-weight: 500;
  font-size: 1.7rem;
  padding-left: 10px;
  text-align: center;
  animation:brath 10s  linear infinite;
}

@keyframes brath{
  0%{transform: scale(.9);}
  25%{transform: scale(1);}
  60%{transform: scale(.9);}
  100%{transform: scale(1);}
}

.greyblock{
  width: 50%;
  font-family: 'Noto Sans Arabic';
  margin-top: 150px;
  background-color: rgb(246, 246, 246);
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}


/* Footer */
.Footer {
  height: 2%;
  padding: 0.75rem;
  display: grid;
  place-content: center;
  background-color: #333;
  font-size:20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p span {
font-size: 17px;}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  direction: ltr;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.75rem;
  margin-left: 2%;
  direction: rtl;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

}

.Nav li {
  padding: 1rem;
  font-family: 'Almarai', sans-serif;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
  white-space:nowrap;
  
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: #eee;
  color: #333;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}

.Home, .NewPost, .PostPage, .About, .Missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #ffffff;
}

.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Home .post a {
  text-decoration: none;
}

.Home .post a, 
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.postBody {
  margin: 1rem 0;
}

.newPostForm {
  display: flex;
  flex-direction: column;
  
}

.NewPost{
  width:50%;
  margin: auto;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type='text'], 
.newPostForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.newPostForm textarea {
  height: 100px;
}

.newPostForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.Missing h2, .PostPage h2, 
.Missing p, .PostPage p {
  margin-bottom: 1rem;
}

.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }
 
  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newPostForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }

}